.boardContainer {
  margin: 0;
  height: 600px;
  width: 600px;
  border: 3px solid black;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
}
.row {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}
.field {
  width: 200px;
  height: 100%;
  border: 1px solid black;
}
